$primary-color: #415267;
$accent-color: #C7A17A;
$accent-color-2: #F9F5E8;
$dark-gray: #151D28;
$light-gray: #EDF0F5;
$light-gray-shadow: #edf0f5cb;
$primary-color-shadow: #4152677e;

%fontDisplayLarge {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    color: black;
}

%fontDisplayMedium {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: black;
}

%fontTitle {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

%fontSubtitle {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

%fontPriceProduct {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

%fontBody {
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 20px;
}

%fontDescription {
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}

%fontButton {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

body {
    margin: 0;
    background-color: #F9FBFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.section-subtitle {
    text-align: center;
    color: $primary-color;
    margin: 0px 0px 7px;
}

.section-title {
    text-align: center;
    color: $primary-color;
    margin: 0px 0px 10px;
}

.wrapper {
    min-width: 1400px;
}

.arrow {
    height: 20px;
}

.slider-shadow {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: calc(100% - 42px);
    background: linear-gradient(to left, $primary-color-shadow 0%, $primary-color-shadow calc(100% - 1300px), rgba(0, 0, 0, 0) calc(100% - 1200px));
    z-index: 10;
}